.box {
    border-radius: 6px;
    background-color: $color-box;
    box-shadow: 0 3px 6px 0 $color-box-shadow;
    width: 100%;
    max-width: 1368px;
    height: auto;
    margin-bottom: 20px;
    &.none{
        background: transparent;
        box-shadow: none;
    }
    &.events{
        h3{
            padding: 14px 0 15px 0px;
            font-size: 14px;
            border-bottom: 1px solid #dee2e6;
        }
    }
    &.small{
        .content{
            .line {
           
                height: 40px;
            }
        }
       
    }
    &.no-title {
        .content {
            .line {
                &:first-child{
                    border-top: none;
                }
            }
        }
    }
    .box-title {
        font-size: 20px;
        box-sizing: border-box;
        padding: 15px 15px;
        border-bottom: 1px solid $color-box-title-border;
    }
    .sub-title {
        font-size: 14px;
        font-weight: 500;
        color:$color-box-sub-title;
        margin-bottom: 8px;
    }
    .content {
        &.no-padding {
            padding: 0
        }
        &.dark {
            background-color: $color-dark;
            color: white;
        }
        padding: 15px;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: left;
        .empty-data {
            svg {
                width: 50px;
                opacity: 0.3;
            }
            .message {
                margin-top: 10px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        .line {
            border-top: 1px solid #E5E7EA;
            height: 70px;
            display: table;
            margin: 0 auto;
            width: 100%;
            cursor: pointer;
            position: relative;
            &:hover {
                background: #f9fbff;
            }
            &.title {
                border-top: none;
                height: 40px;
                
                
                cursor: default;
                &:hover {
                    background: transparent;
                }
                p {
                    font-weight: bold !important;
                    font-size: 16px !important;;
                }
            }
    
            .left {
                display: table-cell;
                vertical-align: middle;
                p{
                    margin-bottom: 0;
                   
                }
                span {
                    font-size: 12px;
                }

                .box-line-title-icon {
                    display: inline;
                    margin-right: 10px;
                    svg{
                        position: relative;
                        top: 50%;
                        transform: translate(0, -50%);
                    }
                }

                .box-line {
                    display: inline-block;
                    .box-line-title{
                        
                        font-weight: 400;
                        font-size: 16px;
                    }
                    
                    .box-line-title-subtitle{
                        span:first-child{
                        }
                        
                    }
                }
                
            }
            .right {
                display: table-cell;
                vertical-align: middle;
                [class^="alert"] {
                    background: none;
                  }
                p{
                    margin-bottom: 0;
                }
            }
        }
    }
}