.deployment-page{

    .table-allocations{
        border-color: transparent;
        thead {
            th {
                border-top: none;
                border-bottom: none;
                span{
                    &.subtitle{
                        font-size: 12px;
                    }
                }
                
            }
        }
        tr {
            cursor: pointer;
            display: table;
            width: 100%;
            table-layout: fixed;
            border-left: 3px solid transparent;
            td {
                &:first {
                    margin-left: 10px;
                }
                padding: 0px;
                p {
                    padding: 0px;
                    margin: 8px;
                }

                &.external-logs{
                    svg{
                        z-index: 100;
                        width: 15px;
                    }
                }
            }
        }
        .selectedIcon {
            opacity: 0;
        }
        .selected {
            border-left: 3px solid $color-event-selected-row;
            .selectedIcon {
                opacity: 1;
                width: 16px;
                height: 16px;
            }
        }
    }


    // Kubernetes
        
        .box-number{
            
            &:first-child{
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
            }
            &:last-child{
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
            }
            padding: .75em 1em;
            text-align: center;
             .label {
                font-size: 1.1em;
                font-weight: 600;
                margin-bottom: 0;
            }
            .value {
                font-size: 2em;
                margin-bottom: 0;
            }
        }
}