@import '../../node_modules/bootstrap/scss/bootstrap.scss';
$color-white: #ffffff;
$color-link: #344aa2;
$color-alert: red;
$color-header-bg: #1b2653;
$color-header-dark-blue:rgb(114, 130, 158);
$color-background-html: #F5F9FD;
$color-title: #2A3E52;
$color-box: #ffffff;
$color-box-title-border: #D4D8DC;
$color-box-sub-title: black;
$color-timeline-line: #39405d;
$color-timeline-circle-border: #1b2653;
$color-timeline-circle-marked: $color-alert;
$color-event-selected-row: #1b2653;
$color-box-shadow: rgba(14, 30, 62, 0.08);
$color-circle-alert: $color-alert;
$color-dark: #1a2633;

// Job diff colors
$color-edited: #fa8e23;
$color-deleted: #c84034;
$color-added: #25ba81;
$default-font-size: 14px;

body {
	background-color: $color-background-html;
	font-family: Roboto,sans-serif;
	font-weight: 300;
	font-size: $default-font-size;
	-webkit-font-smoothing: antialiased;
}

.popover {
	ul {
		margin: 5px;
		padding-left: 10px;
	}
}

.btn {
	&.btn-link {
		text-align: left
	}
}
@import './header.scss';
#main {
	margin: 20px 0;

	.col-centered{
		float: none;
		margin: 0 auto;
	}
	.pull-right{
		float: right;
	}
	.pull-left{
		float: left;
	}
	.loader{
		margin: 20px;
	}
	.btn-link {
		font-size: $default-font-size;
	}
	.center {
		text-align: center
	}
	.link{
		color: $color-link;
		text-decoration: underline;
		cursor: pointer;
	}
	.no-margin{
		margin: 0 !important;
	}
    
    .nav {
		&.nav-tabs{
			margin-bottom: 10px;
		}
	}
	
	.pointer {
		cursor: pointer;
	}

	.loader {
		margin: 20px;
		width: 30px;
	}
	
	
	@import './inputs.scss';
	@import './box.scss';
	@import './titles.scss';
	@import './timeline.scss';
	@import './jobs.scss';
	@import './deployment-page.scss';
	@import './alerts.scss';
	@import './job-diff.scss';
}
