.job-diff{
    line-height: 25px;
    .marker{
        margin-right: 10px;
        margin-right: 10px;
        width: 10px;
        display: inline-block;
        &.is-edited{
            color: $color-edited;
        }
        &.is-deleted{
            color: $color-deleted;
        }
        &.is-added{
            color: $color-added;
        }
    }
    .diff-section-change{
        font-weight: 700;
    }
    .diff-section-label {
        text-indent: 0;
        padding-left: 2ch;
    }
   
    .diff-section-table-row{
        display: table-row;

        .diff-section-table-cell{
            display: table-cell;
            padding-right: 5px;
        }
    }
    .diff-section-bold{
        font-weight: bold;
    }
}