.jobs-page{
   
}
.search-field{
   height: 56px;
   width: 100%;
   box-sizing: border-box;
   border-radius: 3px;
   background-color: #FFFFFF;
   padding: 0 24px;
   font-size: 13px;
   border: solid 1px #eceef0;
   margin-bottom: 10px;
   
  }
 
 